@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
* {
  margin: 0;
  border: 0;
  padding: 0;
}
:root {
  font-family: Poppins , Arial, sans-serif;
  /* font-logo: Michroma; */
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.imgBackground {
  background-image: url("/fundo_inicio.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: end;
}

.slogan{
  font-family: 'Michroma';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 51px;

  color: #FFFFFF;
}

.todo{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 80px;
  /* identical to box height */

  color: #FFFFFF;
}

.absolute{
  position: absolute;
  left: 100px;
  top: 100px;
}

.logo{
  max-width: 150px;
}

.cardInicio{
  box-sizing: border-box;
  max-height: 500px;
  max-width: 400px;
  text-align: center;
  margin-right: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 2rem 2rem 5rem 2rem;

  background: linear-gradient(0.42deg, rgba(0, 0, 0, 0.35) 0.39%, rgba(0, 0, 0, 0) 101.3%);
  backdrop-filter: blur(17.5px);
 

  border: 1px solid white;

  border-radius: 14px;
}

.mainButton{
  box-sizing: border-box;

  font-size: 24px;
  color: white;
  width: 300px;
  padding: 1rem;
  border: 1px solid white;
  font-weight: 700;

  background: #060606;
  border-radius: 12px;

  cursor: pointer;
}

.mainButton:hover{
  background: #181818;
  box-shadow: 5px 5px 20px #af2a2a;
 
}

.possuiConta {

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 36px;
  text-decoration: none;

  color: #EBEBEB;

  opacity: 0.7;
}

.possuiConta:hover{
  font-weight: 700;
}

.maximo{
  align-items: center;

}